<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Αποθετήριο Κυνηγιού</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/quil/dist/css/quill.snow.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Αποθετήριο Κυνηγιού</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link @IsActive("Home", "Index")" asp-controller="Home" asp-action="Index">Αρχική</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @IsActive("Team", "Index")" asp-controller="Team" asp-action="Index">Ομάδες</a>
                    </li>
                    @if (User.Identity is { IsAuthenticated: true } && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(IsActive("Home", "Dashboard"))"
                               asp-controller="Home" asp-action="Dashboard">
                                Διαχείριση
                            </a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity is { IsAuthenticated: true })
                    {
                        <li class="nav-item">
                            <form id="logoutForm" asp-controller="Authentication" asp-action="Logout" method="post" class="form-inline">
                                <button type="submit" class="btn btn-link nav-link">
                                    Αποσύνδεση
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link @(IsActive("Authentication", "Login"))" asp-controller="Authentication" asp-action="Login">
                                Σύνδεση
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

@if (ViewData["Banner"] is not null)
{
    <div class="page-banner text-center">
        <div class="container">
            <h1>@ViewData["Banner"]</h1>
        </div>
    </div>
}

<main role="main" class="container mt-4">
    <partial name="_Notification"/>
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/quil/dist/js/quill.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@{
    string IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();

        return currentController == controller && currentAction == action ? "active" : "";
    }
}